<!DOCTYPE html>
<html lang="en">
    <head>
    <% include ./include/headgold %>
  </head>
    <body>
        <div class="small-pearl left-middle blur3opacity60">&nbsp;</div>
        <div class="pearl bottom-right blur5opacity30">&nbsp;</div>
        <div class="pearl left-top blur20opacity50">&nbsp;</div>
        <div class="triangle top-middle blur3opacity60">&nbsp;</div>
        <div class="triangle bottom-left blur3opacity60">&nbsp;</div>
        <div class="small-pearl bottom-middle blur3opacity60">&nbsp;</div>

        <script src="/js/animatenumber.js"></script>
        <script src="/js/doorprize.js"></script>
        <div class="container">
            <div class="logo">&nbsp;</div>
            <div class="row">
              <% include ./include/header %>
            </div>
            
            <div class="prize-content">                
                <div class="doorprize-content-header"><%= data.title %></div>
                <div class="prize-content-body">
                  <% let i = 0 %>
                  <% data.rows.data.forEach(function(d){ %>
                  <div class="doorprize-column">
                    <div class="doorprize-cell">
                        <div id="regnum-<%= i %>" data-regnumber="<%= d.regnumber %>" class="doorprize-cell-details-big doorprize-cell-details">
                          0000
                        </div>
                        </div>
                    <div class="doorprize-cell">
                        <div id="details-<%= i %>" data-shopname="<%= d.shop_name %>" 
                            data-name="<%= d.name %>" 
                            data-city="<%= d.city %>" 
                            class="doorprize-cell-details-small">
                            <strong>-</strong>
                      </div>
                    </div> 
                  </div>
                  <%
                    i++
                    }) 
                  %>
                  
                </div>
            </div>
          </div>
        <% include ./include/scripts %>
        <% include ./include/footer %>
    </body>
</html>